<div class="w3-panel secondtab--{{database.filename}}" id="db_panel--{{database.filename}}">
    <div class="w3-panel w3-light-green w3-display-container w3-border w3-round">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright"><i class="fa fa-times fa-fw"></i></span>
        <h3>Success!</h3>
        <h4> Implement Data Warehouse <a href="#db_panel--{{database.filename}}"> {{database.filename}}</a> OK !</h4>
      </div>
    <div class="w3-panel" id="detail_db_panel--{{database.filename}}">
        <h5><i class="fa fa-database w3-text-red w3-large"></i> Data Warehouse</h5>
        <div class="card mb-5" id="detail">
            <div class="card-body">
                <h5 class="card-title">Data Warehouse Information</h5>
                <div class="row">
                    <div class="col text-uppercase fw-bold float-end">
                        NAME
                    </div>
                    <div class="col">
                        {{database.filename}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-uppercase fw-bold float-end">
                        DSN
                    </div>
                    <div class="col">
                        <!-- Modify -->
                        localhost/orcl
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/file_db.js"></script>
</div>