{{extend './common/layout.html'}}

{{block 'title'}}Generate DB{{/block}}

{{block 'link'}} {{include './common/link.html'}} {{/block}}

{{block 'menu'}} {{include './common/menu_yang.html'}} {{/block}}

{{block 'header'}} {{include './common/header.html'}} {{/block}}

{{block 'content'}}
<div class="w3-quarter wrapper">
    <form class="w3-form w3-padding" id="uplod_form" method="post" action="files" enctype="multipart/form-data">
        <span class="w3-padding"><label for="input_file">
                <i class="fas fa-cloud-upload-alt"></i> <strong>Upload File</strong></label></span><input
            class="w3-light-grey w3-padding" type="file" accept="csv/*" id="input_file" name="file" multiple required />
        <button class="w3-button w3-padding" id="btn_upload" type="submit">
            <span><i class="fa fa-upload"></i> Upload & Execute</span>
        </button>
    </form>

    <div class="progress w3-padding">
        <div class="progress-bar" id="progressbar" role="progressbar" style="width: 0%;" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>

    <div class="upload-container">
        <!-- <div class="upload-file">
            <i class="fas fa-file-alt "></i>
            <div class="file-content">
                <div>
                    <span>file_name.jpg</span>
                    <span>uploading 50%</span>
                </div>
            </div>
            <div class="progress-bar" id="progressbar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>

        <div class="upload-file uploaded">
            <i class="fas fa-file-alt "></i>
            <div class="file-content">
                <div>
                    <span>file_name.jpg</span>
                    <i class="fas fa-check"></i>
                </div>
                <div class="size">457 KB</div>
            </div>
            <div class="progress-bar" id="progressbar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100">0%</div>
        </div> -->
    </div>

    <!-- <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div> -->
    <div class="w3-display-container w3-round w3-card-4 w3-green notice" id="err_exist"></div>
    <!-- </form> -->
</div>
<div class="w3-container" id="file_measure">
</div>
{{/block}}
{{block 'footer'}}
<div class="w3-display-container w3-round w3-card-4 w3-green notice" id="msg_footer"></div>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
{{include './common/footer_yang.html'}}
<script src="../static/js/upload.js"></script>
{{/block}}
</body>

</html>