<div class="w3-panel" id="db_panel--{{database.filename}}">
    <h4> Implement Data Warehouse <a href="#db_panel--{{database.filename}}"> {{database.filename}}</a> OK !</h4>
    <p>Data Warehouse Information &emsp;&emsp;
        <span id="db_icon--{{database.filenameame}}" class="w3-button w3-light-grey w3-padding w3-section">
            <i class="far fa-minus-square"></i>
        </span>
    </p>
    <div class="w3-panel" id="detail_db_panel--{{database.filename}}">
        <h5><i class="fa fa-database w3-text-red w3-large"></i> Data Warehouse</h5>
        <div class="card mb-5" id="detail">
            <div class="card-body">
                <h5 class="card-title">Data Warehouse Information</h5>
                <div class="row">
                    <div class="col text-uppercase fw-bold float-end">
                        NAME
                    </div>
                    <div class="col">
                        {{database.filename}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-uppercase fw-bold float-end">
                        DSN
                    </div>
                    <div class="col">
                        <!-- Modify -->
                        localhost/orcl
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/file_db.js"></script>
</div>