<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' crossorigin='anonymous'></script>
    <!-- 引入template-web.js -->
    <script src="./node_modules/art-template/lib/template-web.js"></script>
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

    <title>Upload File</title>
</head>

<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">Logo</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <!-- <div class="w3-col s4">   -->
            <div class="w3-bar-block">          
                <p>Welcome </p>
                <strong>Transform your document</strong>
                <!-- <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
                <span>Welcome, <strong>transform your document</strong></span> -->
            </div>
            <div class="w3-col s8 w3-bar">
                <span class="w3-button w3-display-topright w3-transparent ws-hover-black" title="Close Menu"
                    onclick="w3_close()" style="font-weight:bold;padding-top:10px;padding-bottom:11px;"><i
                        class="fa fa-remove fa-fw"></i></span>
                <br>
                <!-- <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a> -->
            </div>
        </div>
        <hr>
        <div class="w3-bar-block">
            <!-- <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Home</a> -->
            <a class="w3-bar-item w3-button w3-padding w3-blue" onclick="myFunction('Demo1')">
                    <i class='fas fa-coins'></i>   Auto-Generate <i class="fa fa-caret-down"></i></a>
            <div class="w3-hide w3-blue" id="Demo1">
                <a href="#" class="w3-bar-item w3-button">Measures</a>
                <a href="#" class="w3-bar-item w3-button">Functional Dependances</a>
                <a href="#" class="w3-bar-item w3-button">Hierarchies</a>
                <a href="#" class="w3-bar-item w3-button">Database</a>
            </div>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class='fas fa-coins'></i>  Merge</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class='fas fa-wrench'></i>  Complement</a>
            <!-- <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a> -->
        </div>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" id="main" style="margin-top:43px; margin-left: 250px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:10px">
            <h5 class="w3-padding"><b><i class="fa fa-dashboard"></i> Upload file</b></h5>
        </header>

        <div class="w3-quarter">
            <form class="w3-form  w3-padding" id="uplod_form" method="post" action="files"
                enctype="multipart/form-data">
                <label for="input_file">
                    <input class="w3-light-grey w3-padding" type="file" accept="csv/*" id="input_file" name="file"
                        multiple />
                </label>
                <span id="err_exist" class="w3-padding"></span>
                <button class="w3-button w3-light-grey w3-section" id="btn_upload" type="button">
                    <span><i class="fa fa-upload"></i> Upload & Execute</span>
                </button>
            </form>
        </div>
        <div class="w3-container" id="file_measure">
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <!-- <h4>FOOTER</h4>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
        </footer>

        <!-- End page content -->
    </div>

    <script>
        function w3_open() {
            if (document.getElementById("mySidebar").style.display == "block") {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            } else {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        function myFunction(id) {
            var x = document.getElementById(id);
            console.log(x.previousElementSibling.lastElementChild)
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.lastElementChild.className = "fa fa-caret-up";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.lastElementChild.className = "fa fa-caret-down";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="../static/js/upload.js"></script>
</body>

</html>